<p>Dear {{ contact.firstName}} {{ contact.lastName}},</p>
<p>Thank you for reaching out, we will contact you soon regarding your concerns!</p>
<p>The informations that you provided are below:</p>
<p>Subject: {{ contact.subject }}</p>
<p>Email: {{ contact.email }}</p>
<p>Phone Number: {{ contact.phone }}</p>
<p>Address: {{ contact.address }}, {{ contact.city }}, {{ contact.state }}, {{ contact.zip }}, {{ contact.country}}</p>
<p>Comments: {{ contact.comments }}</p>
<p>Have fun with Xcel!</p>
<p>Sincerely,</p>
<p>The Xcel Team</p>