{% extends "base.html" %}

{% block app_content %}
    <h1>{{ event.title }}</h1>
    <h1>{{ event.start_date }}</h1>
    <h1>{{ event.end_date }}</h1>
    {% for image in images %}
    <img src="../files/{{ image.path }}">
    {% endfor %}
    <h1>{{ event.body }}</h1>
    {% for file in files %}
    <a href="../files/{{ file.path }}" download>
        <figure>
        <img border="0" src="../files/attachment_logo.jpg" alt="logo" width="50" height="50">
        <figcaption>{{ file.path }}</figcaption>
        </figure>
    </a>
    {% endfor %}
    {% if registrable %}
    <td><a href="{{ url_for('register_event', event=event.id) }}">Click here to register!</a></td>
    {% endif %}
{% endblock %}