{% extends "base.html" %}

{% block app_content %}
<div class="container">
{% if length == 0 %}
{{ 'No leagues are currently available. Would you like to start one? Create your own league!' }}
{% else %}
{% for league in upcoming %}
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
        <a href="{{ url_for('league', league=league.id) }}">league: {{ league.name }}</a>
            <img src="/static/img/calendar.png" alt="Lights" style="width:100%">
            <div class="caption">
            <p>Lorem ipsum...</p>
            </div>
        </a>
        </div>
    </div>
    </div>
{% endfor %}
{% endif %}
</div>

{% endblock %}