{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <h1>Hi {{ user.email }}</h1>
    <p>Family members</p>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <select required size="8" name="member">
        {% for member in members %}
        <option>{{ member.fname }} {{ member.lname }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <p>{{ form.edit() }}</p>
    <p>{{ form.delete() }}</p>
    </form>
    <p><a href="{{ url_for('add_member') }}">{{ 'Add new member' }}</a></p>
    <hr>
</div>
{% endblock %}